<div class="row ">
  <%= form_for(resource, :as => resource_name,   :html => {:class => "d-flex"}, :url => session_path(resource_name)) do |f| %>
    <div class="col">
      <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>
    </div>
    <div class="col">
      <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>
    </div>
    <div class="col align-self-center">
      <div class="main-nav-sign-in-padd"><br />
        <%= f.submit "Sign in" %></div>
    </div>
  <% end %>
</div>
