<!DOCTYPE html>
<html>
  <head>
    <title>FaceClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <% if user_signed_in? %>
      <nav class="nav-bg">
        <div class="container-1000">
          <div class="row py-2">
            <div class="col-12">
              <ul class="main-nav-links ul-reset d-flex">
                <div class="justify-content-start d-flex align-items-center w-100">
                  <li class="main-nav-main-items">
                    <a href="/" title="home" >
                      <i class="fab fa-facebook-square index-fb-logo"></i>
                    </a>
                  </li>
                  <li class="main-nav-main-items w-100">
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control form-control-sm  w80" type="search" placeholder="Search" aria-label="Search">
                    </form>
                  </li>
                </div>

                <div class="justify-content-end d-flex align-items-center w-100">
                  <li class="main-nav-main-items main-nav-left-item flex-grow-1">
                    <div class="nav-profile-photo-size d-inline-block">
                      <div class="nav-profile-photo-image image" style="background-image: url(  <%= Image.where(user_id:   101).first.url %>); ">
                      </div>
                    </div>

                    <div class="d-inline-block"><a href="/users/<%= current_user.id %>"><%= current_user.name.split(' ')[0] %></a></div>
                  </li>
                  <li class="main-nav-main-items main-nav-left-item">Home</li>
                  <li class="main-nav-main-items main-nav-left-item">Create</li>
                  <li class="main-nav-main-items main-nav-left-item nav-icons"><i class="fas fa-user-friends"></i></li>
                  <li class="main-nav-main-items main-nav-left-item nav-icons"><i class="fab fa-facebook-messenger"></i></li>
                  <li class="main-nav-main-items main-nav-left-item nav-icons"><i class="fas fa-bell"></i></li>
                  <li class="main-nav-main-items main-nav-left-item nav-icons"><i class="fas fa-question-circle"></i></li>
                  <li class="main-nav-main-items main-nav-left-item nav-icons">
                    <div class="dropdown d-flex main-nav-main-items">
                      <div class="main-nav-menu-title d-flex align-items-center" id="services-dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sort-down"></i>
                      </div>
                      <div class="dropdown-menu" >
                        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'main-nav-submenu-link dropdown-item') %>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    <% else %>
    <nav class="nav-bg">
      <div class="container-1000">
        <div class="row py-2">
          <div class="col-12">
            <ul class="main-nav-links ul-reset d-flex">
              <div class="justify-content-start d-flex align-items-center w-100">
                <li class="main-nav-main-items">
                  <a href="/" title="home">
                      <div class="main-nav-logo-full-image image"></div>
                  </a>
                </li>
              </div>

              <div class="justify-content-end d-flex align-items-center w-100">
                <li class="main-nav-main-items ">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        Email
                      </div>
                      <div class="col">
                        Password
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <!-- <form class="form-inline my-2 my-lg-0">
                          <input class="form-control form-control-sm " type="search" placeholder="email" aria-label="Search">
                          <input class="form-control form-control-sm " type="search" placeholder="password" aria-label="Search">
                          <%= submit_tag("Log In") %>
                        </form> -->
                        <li>
        <%= render 'devise/sessions/form' %>
    </li>
                                </div>
                      <div class="col">

                      </div>
                    </div>

                  </div>

                </li>

                </li>

                <!-- <li class="main-nav-main-items main-nav-left-item nav-icons">
                  <div class="dropdown d-flex main-nav-main-items">
                    <div class="main-nav-menu-title d-flex align-items-center" id="services-dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-sort-down"></i>
                    </div>
                    <div class="dropdown-menu" >
                      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'main-nav-submenu-link dropdown-item') %>
                    </div>
                  </div>
                </li> -->
              </div>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>


  </body>
</html>
